@model NgCookingMVC_BackEND.Models.Ingredients
@{
    ViewBag.Title = "Ingredients";
    
}
<div class="col-xs-12 col-sm-9">
    <div class="content" id="content_ingredients">
        <h1 class="page-title">Les ingredients</h1>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="row imgback">
                        <div class="hidden-xs col-sm-3"></div>
                        <div class="col-xs-12 col-sm-9 fp">
                            <div class="filters">
                                <form action="#" novalidate>
                                    <div class="filter">
                                        <p><label for="">Nom de l'ingrédient</label></p>
                                        <p><input type="text" placeholder="ex: Banane" id="NameIng" onchange="GetList(false)"></p>
                                    </div>
                                    <div class="filter">

                                        @Html.DropDownList("Category", new SelectList(ViewBag.Categories, "Id", "NameToDisplay"), "Select Category", new { @class = "form-control", @onchange = "GetList(false)" })
                                    </div>
                                    <div class="filter">
                                        <p><label for="">Nombre de calories <span class="fwn">(kcal/100g)</span></label></p>
                                        <p>
                                            <span class="span-label">entre :</span>
                                            <input type="number" class="mr0" placeholder="ex: 70" id="MinCal" onchange="GetList(false)">
                                            <span class="span-label">et</span>
                                            <input type="number" placeholder="ex: 220" id="MaxCal" onchange="GetList(false)">
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Ingredients/Create" class="btn btn_color1"><span class="glyphicon glyphicon-plus-sign"></span><span>Créez une nouveau ingredient</span></a>
            }

            <div class="col-xs-12">
                <div class="result" id="result">

                        @Html.Partial("IngredientViewList")


                </div>

                <div class="row showmore">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn_color1" onclick="GetList(true)"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script>
        function GetList(IsIncrement) {
            var catId = $('#Category').val();
            var NameIng = $('#NameIng').val();
            var MinCal = $('#MinCal').val();
            var MaxCal = $('#MaxCal').val();
            if (MaxCal == "") {
                MaxCal = 10000;
            }
            if (MinCal == "") {
                MinCal = 0;
            }
            if (catId == "") {
                catId = 0;
            }

            var url = "/Ingredients/IngredientViewList/";
            $.post(url, { idcatId: catId, NameIng: NameIng, MinCal: MinCal, MaxCal: MaxCal, IncrementDisplay: IsIncrement })
                            .done(function (partialViewResult) {
                                $("#result").html(partialViewResult);
                            });


        }
    </script>
    
}