@{
    ViewBag.Title = "Communautés";
}
<div class="col-xs-12 col-sm-9">
    <div class="content" id="content_users">
        <h1 class="page-title">La communauté</h1>

        <section class="section">
            <h2 class="title">~ Les meilleures cuistots ~</h2>
            <div class="sort">
                <p>
                    <span class="span-label">Trier par :</span>
                    <select name="" id="">
                        <option value="az">Ordre alphabétique (A->Z)</option>
                        <option value="za">Ordre alphabétique (Z->A)</option>
                        <option value="exp">Les mieux notés d'abord</option>
                        <option value="nov">Les moins bien notés d'abord</option>
                        <option value="prod">Les plus productifs d'abord</option>
                        <option value="prod_desc">Les moins productifs d'abord</option>
                    </select>
                </p>
            </div>
            <div class="users row">
                
                @foreach (var comm in ViewBag.Communauties)
                {
                    <div class="col-xs-6 col-sm-3 user">
                        <a href="Communautes/Details/@comm.Id">
                           @ImgHelper.Img(comm.Picture,"img", @comm.UserSurName)
                            <div class="text">
                                <p class="name">@comm.UserSurName</p>
                                <p class="level">

                                    <span class="stars">
                                        @{ 
                                            var lev = (int)comm.Level;
                                        }
                                        @for (int i = 1; i <=lev; i++){
                                            <span class="glyphicon glyphicon-star"></span>

                                }
                                    </span>
                                    <span class="status">@comm.Level</span>
                                </p>
                            </div>
                        </a>
                    </div>
                                }


            </div>
            <div class="row showmore">
                <div class="col-xs-12">
                    <button type="button" class="btn btn_color1"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>
                </div>
            </div>
        </section>

    </div>
</div>
